<div id="containerPrincipal" class="container">
  <br>
  <h1>Cadastrar nova Competição</h1>
  <img src="https://www.dogusfacil.com.br/colunistas/filemanager/colunistas/angela-garcia/635740596509290617-1568940782_OLY.jpg">

  <div class="container">
    <form #competicao="ngForm" (ngSubmit)="onSubmit(competicao)" autocomplete="off">

      <div class="form-row">
        <div class="col-6">
          <!--<label>Horário</label>
          <input class="form-control" name="horario" ngModel required type="text" placeholder="Horário">-->
            <mat-form-field appearance="fill">
              <mat-label>Data da Competição</mat-label>
              <input matInput [matDatepicker]="dp3" name="horario" [min]="minDate" ngModel required>
              <mat-datepicker-toggle matSuffix [for]="dp3" ></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false" ></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-6">
          <label>Local da Competição</label>
          <input class="form-control" name="localCompeticao" ngModel required type="text" placeholder="Local da Competição">
        </div>
      </div>

      <div class="form-row">
        <label>Url da bandeira do Local</label>
        <input class="form-control" name="link_img_localCompeticao" ngModel required type="text" placeholder="Bandeira do Local da Competição">
      </div>

      <div class="form-row">
        <div class="col-6">
          <label for="inputState">Esporte</label>
          <select id="inputState" class="form-control" name="esporte" ngModel required>
            <ng-container *ngFor="let esporte of esportes">
              <option [value]="esporte.esporte">{{ esporte.esporte }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-6">
          <label for="inputState">Categoria</label>
          <select id="inputState" class="form-control" name="categoria" ngModel required>
            <ng-container *ngFor="let categoria of categorias">
              <option [value]="categoria.categoria">{{ categoria.categoria }}</option>
            </ng-container>
          </select>
        </div>

      </div>
      <button>Cadastrar</button>

    </form>
  </div>
</div>
