<div class="container">
  <br>
  <h1>Criar nova Competição</h1>

  <form #competicao="ngForm" (ngSubmit)="onSubmit(competicao)">

    <div class="form-row">
      <div class="col-5">
        <label>Horário</label>
        <input class="form-control" name="horario" ngModel required type="text" placeholder="Horário">
      </div>
      <div class="col-7">
        <label>Local da Competição</label>
        <input class="form-control" name="localCompeticao" ngModel required type="text" placeholder="Local da Competição">
      </div>
    </div>

    <div class="form-row">
      <label>Url da bandeira do Local</label>
      <input class="form-control" name="link_img_localCompeticao" ngModel required type="text" placeholder="Bandeira do Local da Competição">
    </div>

    <div class="form-row">
      <div class="col-6">
        <label for="inputState">Esporte</label>
        <select id="inputState" class="form-control" name="esporte" ngModel required>
          <option selected> Escolha o esporte </option>
          <ng-container *ngFor="let esporte of esportes">
            <option [value]="esporte.esporte">{{ esporte.esporte }}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-6">
        <label for="inputState">Categoria</label>
        <select id="inputState" class="form-control" name="categoria" ngModel required>
          <option selected> Escolha a categoria </option>
          <ng-container *ngFor="let categoria of categorias">
            <option [value]="categoria.categoria">{{ categoria.categoria }}</option>
          </ng-container>
        </select>
      </div>

    </div>
    <button>Submit</button>

  </form>
</div>
