
<div class="col-8">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Próximas Competições</a>
      <ng-template ngbNavContent>

        <app-table-proximas-competicoes [competicoes]="competicoes"></app-table-proximas-competicoes>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Resultado de Competições</a>
      <ng-template ngbNavContent>

        <app-table-resultado-competicoes></app-table-resultado-competicoes>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<app-footer></app-footer>
