<div id="principal">
  <div class="row">
    <div id="colunaEsquerda" class="col-sm-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" class="col-lg">
          <a ngbNavLink (click)="getTableData()">Próximas Competições</a>
          <ng-template ngbNavContent>

            <app-table-proximas-competicoes [competicoes]="competicoes" (click)="getTableData()"></app-table-proximas-competicoes>

          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="col-lg">
          <a ngbNavLink (click)="getPodioData()">Resultado de Competições</a>
          <ng-template ngbNavContent>

            <app-table-resultado-competicoes [podio]="podio" ></app-table-resultado-competicoes>

          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="col-lg">
          <a ngbNavLink>Nova Competição</a>
          <ng-template ngbNavContent>

            <app-nova-competicao></app-nova-competicao>

          </ng-template>
        </li>
      </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div id="divRanking" class="col-lg-4">
      <app-ranking [ranking]="ranking"></app-ranking>
    </div>

  </div>
</div>
